@{
    ViewData["Title"] = "Şifre Yenileme İsteği ";
}
    <div class="container">

        <h2>@ViewData["Title"]</h2>
        <p>
            E-posta hesabınıza şifrenizi yenilemeniz için gönderdiğimiz link'e tıklayarak yeni bir şifre oluşturabilirsiniz.
        </p>
    </div>
