@{
    ViewData["Title"] = "Şifre Yenileme Onay";
}
    <div class="container">
        <h1>@ViewData["Title"].</h1>
        <p>
            Şifreniz güncellendi. Giriş yapmak için <a asp-controller="Account" asp-action="Login">burayı tıklayın</a>.
        </p>
    </div>